In [1]:
import numpy as np
import pandas as pd
import jsonlines
from tqdm import tqdm

***
## transactional data

In [2]:
!ls ../data

items_static_metadata_full.jl test_data.csv
sample_submission.csv.gz      train_data.parquet

In [3]:
data = pd.read_parquet("../data/train_data.parquet")
data

,sku,date,sold_quantity,current_price,currency,listing_type,shipping_logistic_type,shipping_payment,minutes_active
0,464801,2021-02-01,0,156.78,REA,classic,fulfillment,free_shipping,1440.000000
1,464801,2021-02-02,0,156.78,REA,classic,fulfillment,free_shipping,1440.000000
2,464801,2021-02-03,0,156.78,REA,classic,fulfillment,free_shipping,1440.000000
3,464801,2021-02-04,0,156.78,REA,classic,fulfillment,free_shipping,1440.000000
4,464801,2021-02-05,1,156.78,REA,classic,fulfillment,free_shipping,1440.000000
...,...,...,...,...,...,...,...,...,...
37660274,129187,2021-03-31,0,22057.00,ARG,classic,drop_off,free_shipping,267.710767
37660275,6707,2021-03-31,0,26999.00,ARG,classic,cross_docking,free_shipping,266.083333
37660276,170355,2021-03-31,0,3400.00,ARG,classic,drop_off,paid_shipping,0.252633
37660277,246568,2021-03-31,0,6289.00,ARG,classic,fulfillment,free_shipping,135.416667
37660278,49718,2021-03-31,0,1990.00,ARG,classic,drop_off,paid_shipping,88.033333

In [4]:
data.sku.nunique()/1e3

660.916

In [5]:
data.drop_duplicates(subset=["sku"]).currency.value_counts() / 1e3

REA    336.334
MEX    265.908
ARG     58.670
DOL      0.004
Name: currency, dtype: float64

In [6]:
data.drop_duplicates(subset=["sku"]).listing_type.value_counts() / 1e3

premium    332.767
classic    328.149
Name: listing_type, dtype: float64

In [7]:
data.drop_duplicates(subset=["sku"]).shipping_logistic_type.value_counts() / 1e3

fulfillment      489.501
drop_off         104.131
cross_docking     67.284
Name: shipping_logistic_type, dtype: float64

In [8]:
data.drop_duplicates(subset=["sku"]).shipping_payment.value_counts() / 1e3

paid_shipping    438.793
free_shipping    222.123
Name: shipping_payment, dtype: float64

In [9]:
data.groupby("date")["sku"].count()

date
2021-02-01    604230
2021-02-02    606383
2021-02-03    608270
2021-02-04    610721
2021-02-05    612461
2021-02-06    613405
2021-02-07    613950
2021-02-08    615477
2021-02-09    616976
2021-02-10    618612
2021-02-11    620325
2021-02-12    621937
2021-02-13    622608
2021-02-14    622964
2021-02-15    624165
2021-02-16    625438
2021-02-17    626922
2021-02-18    628333
2021-02-19    629555
2021-02-20    630067
2021-02-21    630470
2021-02-22    631777
2021-02-23    633111
2021-02-24    634601
2021-02-25    636062
2021-02-26    637263
2021-02-27    637768
2021-02-28    638166
2021-03-01    639351
2021-03-02    640562
2021-03-03    641856
2021-03-04    643137
2021-03-05    644620
2021-03-06    645072
2021-03-07    645432
2021-03-08    646451
2021-03-09    647382
2021-03-10    648410
2021-03-11    649447
2021-03-12    650309
2021-03-13    650732
2021-03-14    651006
2021-03-15    651728
2021-03-16    652524
2021-03-17    653317
2021-03-18    654154
2021-03-19    654845
2021-03-20    655185
2021-03-21    655393
2021-03-22    656216
2021-03-23    656939
2021-03-24    657627
2021-03-25    658250
2021-03-26    658872
2021-03-27    659101
2021-03-28    659258
2021-03-29    659806
2021-03-30    660364
2021-03-31    660916
Name: sku, dtype: int64

In [10]:
# number of rows by sku
len(data)/data.sku.nunique()

56.9819447554606

In [11]:
data.groupby("sku")["date"].count().describe()

count    660916.000000
mean         56.981945
std           8.094631
min           1.000000
25%          59.000000
50%          59.000000
75%          59.000000
max          59.000000
Name: date, dtype: float64

In [12]:
data.query("sku == 464801")

,sku,date,sold_quantity,current_price,currency,listing_type,shipping_logistic_type,shipping_payment,minutes_active
0,464801,2021-02-01,0,156.78,REA,classic,fulfillment,free_shipping,1440.0
1,464801,2021-02-02,0,156.78,REA,classic,fulfillment,free_shipping,1440.0
2,464801,2021-02-03,0,156.78,REA,classic,fulfillment,free_shipping,1440.0
3,464801,2021-02-04,0,156.78,REA,classic,fulfillment,free_shipping,1440.0
4,464801,2021-02-05,1,156.78,REA,classic,fulfillment,free_shipping,1440.0
5,464801,2021-02-06,0,157.78,REA,classic,fulfillment,free_shipping,1440.0
6,464801,2021-02-07,0,156.98,REA,classic,fulfillment,free_shipping,1440.0
7,464801,2021-02-08,0,164.99,REA,classic,fulfillment,free_shipping,1440.0
8,464801,2021-02-09,1,164.99,REA,classic,fulfillment,free_shipping,1440.0
9,464801,2021-02-10,1,164.99,REA,classic,fulfillment,free_shipping,1440.0
10,464801,2021-02-11,0,164.99,REA,classic,fulfillment,free_shipping,1440.0
11,464801,2021-02-12,0,164.99,REA,classic,fulfillment,free_shipping,1440.0
12,464801,2021-02-13,0,164.99,REA,classic,fulfillment,free_shipping,1440.0
13,464801,2021-02-14,1,164.99,REA,classic,fulfillment,free_shipping,1440.0
14,464801,2021-02-15,5,164.99,REA,classic,fulfillment,free_shipping,1440.0
15,464801,2021-02-16,1,183.14,REA,classic,fulfillment,free_shipping,1440.0
16,464801,2021-02-17,0,183.14,REA,classic,fulfillment,free_shipping,1440.0
17,464801,2021-02-18,0,183.14,REA,classic,fulfillment,free_shipping,1440.0
18,464801,2021-02-19,0,183.14,REA,classic,fulfillment,free_shipping,1440.0
19,464801,2021-02-20,0,183.14,REA,classic,fulfillment,free_shipping,1440.0
20,464801,2021-02-21,0,183.14,REA,classic,fulfillment,free_shipping,1440.0
21,464801,2021-02-22,0,183.14,REA,classic,fulfillment,free_shipping,1440.0
22,464801,2021-02-23,0,183.14,REA,classic,fulfillment,free_shipping,1440.0
23,464801,2021-02-24,0,183.14,REA,classic,fulfillment,free_shipping,1440.0
24,464801,2021-02-25,0,183.14,REA,classic,fulfillment,free_shipping,1440.0
25,464801,2021-02-26,0,183.14,REA,classic,fulfillment,free_shipping,1440.0
26,464801,2021-02-27,0,183.14,REA,classic,fulfillment,free_shipping,1440.0
27,464801,2021-02-28,0,183.14,REA,classic,fulfillment,free_shipping,1440.0
28,464801,2021-03-01,0,183.14,REA,classic,fulfillment,free_shipping,1440.0
29,464801,2021-03-02,0,183.14,REA,classic,fulfillment,free_shipping,1440.0
30,464801,2021-03-03,0,183.14,REA,classic,fulfillment,free_shipping,1440.0
31,464801,2021-03-04,0,183.14,REA,classic,fulfillment,free_shipping,1440.0
32,464801,2021-03-05,0,169.99,REA,classic,fulfillment,free_shipping,1440.0
33,464801,2021-03-06,0,169.99,REA,classic,fulfillment,free_shipping,1440.0
34,464801,2021-03-07,0,169.99,REA,classic,fulfillment,free_shipping,1440.0
35,464801,2021-03-08,0,169.99,REA,classic,fulfillment,free_shipping,1440.0
36,464801,2021-03-09,0,169.99,REA,classic,fulfillment,free_shipping,1440.0
37,464801,2021-03-10,1,161.49,REA,classic,fulfillment,free_shipping,1440.0
38,464801,2021-03-11,0,161.49,REA,classic,fulfillment,free_shipping,1440.0
39,464801,2021-03-12,0,161.49,REA,classic,fulfillment,free_shipping,1440.0
40,464801,2021-03-13,0,161.49,REA,classic,fulfillment,free_shipping,1440.0
41,464801,2021-03-14,1,161.49,REA,classic,fulfillment,free_shipping,1440.0
42,464801,2021-03-15,0,169.99,REA,classic,fulfillment,free_shipping,1440.0
43,464801,2021-03-16,0,169.99,REA,classic,fulfillment,free_shipping,1440.0
44,464801,2021-03-17,0,169.99,REA,classic,fulfillment,free_shipping,1440.0
45,464801,2021-03-18,0,169.99,REA,classic,fulfillment,free_shipping,1440.0
46,464801,2021-03-19,0,169.99,REA,classic,fulfillment,free_shipping,1440.0
47,464801,2021-03-20,0,169.99,REA,classic,fulfillment,free_shipping,1440.0
48,464801,2021-03-21,0,169.99,REA,classic,fulfillment,free_shipping,1440.0
49,464801,2021-03-22,2,169.99,REA,classic,fulfillment,free_shipping,1440.0
50,464801,2021-03-23,0,169.99,REA,classic,fulfillment,free_shipping,1440.0
51,464801,2021-03-24,0,169.99,REA,classic,fulfillment,free_shipping,1440.0
52,464801,2021-03-25,1,169.99,REA,classic,fulfillment,free_shipping,1440.0
53,464801,2021-03-26,0,169.99,REA,classic,fulfillment,free_shipping,1440.0
54,464801,2021-03-27,0,169.99,REA,classic,fulfillment,free_shipping,1440.0
55,464801,2021-03-28,0,169.99,REA,classic,fulfillment,free_shipping,1440.0
56,464801,2021-03-29,0,169.99,REA,classic,fulfillment,free_shipping,1440.0
57,464801,2021-03-30,0,169.99,REA,classic,fulfillment,free_shipping,1440.0
58,464801,2021-03-31,0,169.99,REA,classic,fulfillment,free_shipping,1440.0

In [13]:
print(data.date.min(),"-", data.date.max())

2021-02-01 - 2021-03-31

In [14]:
data.listing_type.value_counts()

classic    18860849
premium    18799430
Name: listing_type, dtype: int64

In [15]:
data.shipping_logistic_type.value_counts()

fulfillment      32390495
drop_off          2764941
cross_docking     2504843
Name: shipping_logistic_type, dtype: int64

In [16]:
data.shipping_payment.value_counts()

paid_shipping    24947755
free_shipping    12712524
Name: shipping_payment, dtype: int64

In [17]:
data.groupby("sku")["sold_quantity"].mean().describe()

count    660916.000000
mean          0.983020
std           6.988492
min           0.000000
25%           0.203390
50%           0.338983
75%           0.711864
max        2330.983051
Name: sold_quantity, dtype: float64

In [18]:
data.groupby("sku")["date"].count().describe()

count    660916.000000
mean         56.981945
std           8.094631
min           1.000000
25%          59.000000
50%          59.000000
75%          59.000000
max          59.000000
Name: date, dtype: float64

***
## test data

In [19]:
test = pd.read_csv("../data/test_data.csv")

In [20]:
test.sku.nunique() / data.sku.nunique()

0.8344055825551204

In [21]:
set(test.sku) < set(data.sku)

True

In [22]:
test.target_stock.describe()

count    551472.000000
mean         18.069472
std         122.711151
min           1.000000
25%           3.000000
50%           6.000000
75%          13.000000
max       32710.000000
Name: target_stock, dtype: float64

In [23]:
test

           sku  target_stock
0       464801             3
1       645793             4
2        99516             8
3       538100             8
4       557191            10
...        ...           ...
551467  129187             8
551468    6707            30
551469  170355             3
551470  246568             2
551471   49718            20

[551472 rows x 2 columns]

***
## SKU metadata

In [24]:
all_records = list()

with jsonlines.open('../data/items_static_metadata_full.jl') as reader:
    for obj in tqdm(reader):
        all_records.append(obj)

660916it [00:03, 199342.01it/s]

In [25]:
metadata = pd.DataFrame(all_records)
metadata

,item_domain_id,item_id,item_title,site_id,sku,product_id,product_family_id
0,MLB-SNEAKERS,492155,TÃªnis Masculino Olympikus Cyber Barato PromoÃ§ao,MLB,0,None,MLB15832732
1,MLB-SURFBOARD_RACKS,300279,Suporte Rack Prancha Parede C/ Regulagem Horiz...,MLB,1,None,None
2,MLM-NECKLACES,69847,5 Collares Plateados Dama Gargantilla Choker -...,MLM,2,None,None
3,MLM-RINGS,298603,Lindo Anillo De Bella Crepusculo Twilight Prom...,MLM,3,None,None
4,MLB-WEBCAMS,345949,Webcam Com Microfone Hd 720p Knup Youtube Pc V...,MLB,4,None,None
...,...,...,...,...,...,...,...
660911,MLB-CELLPHONE_PARTS,320792,2 Parafuso Pentalobe Torx iPhone 5 5c 5s 6 6s ...,MLB,660911,None,None
660912,MLM-AUTOMOTIVE_EMBLEMS,90441,Emblema Circular Wolfsburg Edition 5cm,MLM,660912,None,None
660913,MLB-SOFA_AND_FUTON_COVERS,202580,Kit Capa De SofÃ¡ Coladinha Jogo 2e3 Lugares Ma...,MLB,660913,None,None
660914,MLB-SNEAKERS,490874,CalÃ§ado SapatÃªnis ClÃ¡ssico Baltic 234 Ollie,MLB,660914,None,None
660915,MLM-SURGICAL_MASKS,423179,Cubrebocas Kn95 20 Piezas Pack VÃ¡lvula GeomÃ©tr...,MLM,660915,None,None

***